.DS_Store
php_errors.log
nbproject/private/
nbproject/configs/
*~
/web/bundles/
/app/bootstrap*
/app/cache
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/app/config/parameters.yml
/web/compass/.sass-cache/

web/images/
