form {
    margin-top: 0;
    padding-top: 5px;
}

.preview
{
    width:200px;
    border:solid 1px #dedede;
    padding:10px;
}

#preview
{
    color:#cc0000;
    font-size:12px
}

.inputField 
{
    width:300px;
    margin: 20px auto;
}

.newEventInput 
{
    width: 80px;
    font-size: 10px;
}

.genderDiv{
    display:block;margin:0;padding:0;margin-bottom:15px;
}

.genderDiv ul{
    -webkit-padding-start: 5px;display:block;
}

.genderDiv ul li{
    list-style:none;display:inline;width:auto;clear:none;padding:4px 0 0 0;margin-right:34px;float:left;
}

.genderDiv label{
    float:right;display:block;width:auto;
}

.genderDiv input{
    width:15px;float:left; display:inline-block;
}

.eventsDiv{
    margin-bottom: 15px;
}
