#friendlist ul{
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0px;
    margin-left: 80px;
    width: 80%;
}

#friendlist li{
    background-color: white;
    margin-bottom: 5px;
}

#friendlist li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#friendlist li:hover {
    background-color: #efefef;
    cursor: hand;
}

img.friendIcon {
    width: 50px;
    height: 50px;
    padding-right: 50px;
}

#friendSearch {
/*    vertical-align: center;*/
    height: 50px;
    border-style: solid;
    border-radius: 5px;
    border-color: #999;
    width: 100%;
/*    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;*/
}

#friendsContainer {
    width: 60%;
    margin: auto;
}

.listSeparator {
    background-color: #cccccc;
}