root { 
    display: block;    
}

header {
    font-size:30px;
    font-weight: bolder;
}

body {
    font-family: Gruppo, arial;
}

.content {
    background-color: white;
    width: 95%;
    margin: 10px;
}

.contentMenu {
    height: 100%;
    width: 30%;
    float: left;
    border-right: black;
    border-right-width: 1px;
    border-right-style: solid;
}

.contentInfo {
    width: 100%;
}

.contentInfoTopic{
    font-size: 22px;
    font-weight: bold;
    line-height: 38px;    
    padding-left: 33%;
    padding-top: 15px;
}

.contentInfoTopic:hover {
    cursor: hand;
    text-decoration: underline;
}

.contentInfoDetails{
    display: none;
    font-size: 16px;    
    line-height: 38px;    
    padding-left: 33%;
    padding-top: 15px;    
}

.displayContentInfo{
    display:block;
}

.goBackDiv{
    margin-left:5px;
    margin-right: 20px;
    font-size: 15px; 
    vertical-align: center;
    margin-top: 15px;
    float:left;
    width: 100px;
}

.goBackDiv:hover{
    text-decoration: underline;
    cursor: hand;
    font-weight: bolder;
}

    :invalid { 
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  box-shadow:0 0 5px rgba(255, 0, 0, .8);
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

form {
  width:300px;
  margin: 20px auto;
}

input, select, textarea{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:14px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

input[type=submit] {
  background:none;
  padding:10px;
}

input[type=submit]:hover {
  cursor: hand;
  font-weight: bold;
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);  
}


