/* 
    Document   : homePage
    Created on : Nov 30, 2011, 12:25:21 AM
    Author     : andreacoba
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body{
    background-color: black;
    margin: 10px 10px 10px 10px;
    position: relative;
}

#header {
    background-color: green;
    width: 100%;
    height: 50px;
}

#footer {
    background-color: purple;
    width: 100%;
    height: 30px;
}

#wishlistComponent {
    background-color: blue;
    width: 30%;
    height: 500px;
    float: left;
}

#newsComponent {
    background-color: pink;
    width: 100%;
    height: 500px;
}

#logoContainer {
    display: inline-block;
    width: 55%;
    background-color: white;
    height: 50px;
    float: left;    
}

#linksContainer {
    display: inline-block;
    width: 45%;
    background-color: white;
    height: 50px;
}

#profileLinks{
    height: 50px;
    width: 30%;
    float: right;
}

#linkList{
    width: 95%;
}

ul{
    background-color: white;
    font-family: Verdana, Arial, sans-serif; font-size: 1.1em;
    color: #ffffff;
    list-style: none;
    padding: 0;
}

li{
    background-color: white;
}

li a {
    text-decoration: none;
    color: black;
}

#userName {
    display: inline-block;
    width: 50%;
    height: 45px;
    vertical-align: bottom;
    background-color: white;
}

#userName a{
    vertical-align: bottom;
    padding: 0px;
    text-align: right;
    height: 45px;
    text-decoration:none;
    zoom: 1;
    line-height: 3.5;
}

#userPicture{
    display: inline-block;
    width: 50%;
    height: 45px;
    background-image: url(/images/gift.jpg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}

#name {
    font-family: 'Satisfy', cursive; 
    font-size: 40px;
    float: right;
    height: 45px;
    background-color: white;    
}


