/* 
    Document   : homePage
    Created on : Nov 30, 2011, 12:25:21 AM
    Author     : andreacoba
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

a {
    text-decoration: none;
}

body{
    background-color: black;
    margin: 10px 10px 10px 10px;
    position: relative;
}

#header {
    background-color: white;
    width: 100%;
    height: 45px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px 15px red;
}

#footer {
    background-color: purple;
    width: 100%;
    height: 30px;
}

#wishlistComponent {
    background-color: white;
    width: 30%;
    height: 500px;
    float: left;
    overflow:auto;
}

#wishlistComponent h1 {
    text-align: center;
}

#newsComponent {
    background-color: pink;
    width: 100%;
    height: 500px;
}

#logoContainer {
    display: inline-block;
    width: 55%;
    background-color: white;
    height: 45px;
    float: left;    
}

#logo{
    display: inline-block;
    width: 80%;
    height: 45px;
    background-image: url(/images/gift.jpg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}

#name {
    font-family: 'Satisfy', cursive; 
    font-size: 40px;
    float: right;
    height: 45px;
    background-color: white;    
}

#linksContainer {
    display: inline-block;
    width: 45%;
    background-color: white;
    height: 45px;
}

#profileLinks{
    height: 45px;
    width: 30%;
    float: right;
}

#linkList{
    width: 100%;
    height: 45px;
    border: 0;
    padding: 0;
    background-color: white;
    vertical-align: -15px;
}

#mainProfileLink {
    height: 45px;
    background-color:white;
    border:0px;
}

ul{
    background-color: white;
    font-family: Verdana, Arial, sans-serif; font-size: 1.1em;
    color: #ffffff;
    list-style: none;
    padding: 0;
}

li{
    background-color: white;
}

li a {
    text-decoration: none;
    color: black;
}

#userName {
    display: inline-block;
    width: 50%;
    height: 45px;
    vertical-align: bottom;
    background-color: white;
}

#userName a{
    vertical-align: bottom;
    padding: 0px;
    text-align: right;
    height: 45px;
    text-decoration:none;
    zoom: 1;
    line-height: 3.0;
}

#userPicture{
    display: inline-block;
    width: 50%;
    height: 45px;
    background-image: url(/images/gift.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}

#headerDivider {
/*    background-color: black;*/
/*    height: 5px;*/
}

#span_messages {
    float: right;
}
