.eventListDiv {
    border: 1px solid black; 
    width: 80%;
    height: 50%;
    margin: 10%;
    margin-top: 2%;
}

.eventsHeader{
    font-size: 28px;
    font-weight:bold;
    padding-top: 10px;
    padding-left: 60px;
}

#addLifeEventButton, #removeLifeEventButton, #saveLifeEventButton {
    /*width: 1em;*/
}

#EventList .image {
    float: left;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 15px;
}

#EventList .checkbox {
    margin-top: 15px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

#EventList .name {
    margin-top: 15px;
    font-weight: bolder;
    display: inline-block;
    height: 15px;
    text-align: center;
    font-size: 14px;
    padding-left: 5px;
}

#EventList .message {
    display: block;
    padding-top: 5px;
    padding-left: 11px;
}

#EventList .timestamp {
    margin-top: 5px;
    color: gray;
    display: block;
    font-size:12px;
}

#EventList a {
    cursor: pointer;
    color: darkblue;
    text-decoration: none;
}

#EventList a:hover {
    text-decoration: underline;
}

.focusEvent {
    background-color:#EFEFEF;
}

.focusEventRemove {
    background-color: gray;    
}

#EventList .Event .remove, #EventList .Event .edit {
    display:none;
    float: right; 
    padding: 0px;
    margin: 0px 0px 0px 5px;
/*    width: 1.0em;*/
}

#EventList .Event {
    padding: 5px;
    border-bottom: solid 1px #EFEFEF;
}

.eventListDiv {
    overflow: scroll;
}
