.lifeEventDiv label{
    display:block;
    float: none;
    width: 100%;
    height: 25px;
}

.lifeEventDiv select {
    margin-top: 5px;height: 5%;margin-right:5px;width:19%;
}

.lifeEventDiv .eventname{
    margin-right:5px;width:50%;
}

.lifeEventDiv .datepicker {
    margin-right:5px;width:18%;
}

label {
    float: left;
    display: inline-block;
    width: 150px;
    font-family: Satisfy, cursive;
}

.eventListDiv {
    border: 1px solid black; 
    width: 80%;
    height: 50%;
    margin: 10%;
    margin-top: 2%;
}

.eventsHeader{
    font-size: 28px;
    font-weight:bold;
    padding-top: 10px;
    padding-left: 60px;
}

#addLifeEventButton, #removeLifeEventButton, #saveLifeEventButton {
    width: 1em;
}

#EventList .image {
/*    display: inline-block;*/
    float: left;
   
    /*background-image: url(/images/default_avatar.gif);
    background-size: 85%;*/
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 15px;
}

#EventList .checkbox {
    margin-top: 15px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

#EventList .name {
    margin-top: 15px;
    font-weight: bolder;
    display: inline-block;
    height: 15px;
    text-align: center;
    font-size: 14px;
    padding-left: 5px;
/*    float: right;*/
}

#EventList .message {
    display: block;
    padding-top: 5px;
    padding-left: 11px;
}

#EventList .timestamp {
    margin-top: 5px;
    color: gray;
    display: block;
    font-size:12px;
}

#EventList a {
    cursor: pointer;
    color: darkblue;
    text-decoration: none;
}

#EventList a:hover {
    text-decoration: underline;
}

.focusEvent {
    background-color: pink;
}

.focusEventRemove {
    background-color: gray;
    border: solid 2px white;
    cursor: pointer;
}

.Event .remove {
    display:none;
    float:right;
}