root {
    display: block;
}

body {
    background-color: black;
    margin: 10px 10px 10px 10px;
    position: relative;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

#content {
    background-color: white;
}