 @font-face {
                font-family: 'Satisfy';
                font-style: normal;
                font-weight: 400;
                src: local('Satisfy'), url('fonts/Satisfy-Regular.ttf');
 }
@font-face {
                font-family: 'Gruppo';
                font-style: normal;
                font-weight: 400;
                src: local('Gruppo'), url('fonts/Gruppo-Regular.ttf');
}

root {
    display: block;
}

body {
    margin: 10px 10px 10px 10px;
    position: relative;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

#content {
    width: 981px;
    margin: auto;
}

.addButton {
    margin-left: 10px;
}

.removeButton {
    margin-left: 10px;
}