/*TODO: This all needs to be done in compass, particularly site-wide things like border color.*/

root { 
    display: block;
}

li a {
    text-decoration: none;
    color: black;
}

#accountOptionsDropdown li a {
    text-decoration: none;
    color: #888888;
}

#accountOptionsDropdown li:hover {
    background:#f1f1f1;
    color:#333333;
    font-weight: bolder;
}

#accountOptionsDropdown li {
    text-decoration: none;
    padding: 10px 0px 5px 0px;
}

#accountOptionsDropdown{
  float: right;
  display: none;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #BEBDBD;
  position: absolute;
  right: 4px;
  background: white;
  top: 38px;
  width: 145px;
}

#accountOptionsDropdown ul{
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;    
}

.positionModuleFixed {
    position: fixed;
    z-index: 686;
}

#header {
    background-color: white;
    height: 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid #BEBDBD;
    padding-bottom: 5px;
    text-align: center;
}

#navigationlist {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 30px;
    font-family: Verdana, Arial, sans-serif;
    border-bottom: 1px solid #BEBDBD;
    margin-bottom: 10px;
    background-color: white;
}

#navigationlist li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#navigationlist li a:hover {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: #ffcccc;
}

/*#logo{
    display: inline-block;
    height: 45px;
    background-image: url(/images/gift.jpg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}*/

#socialMediaLinks {
    float:left;
    margin-top: 5px;
    margin-left: 15px;
}

.socialMediaLink {
     margin:3px;
}

#logoContainer {
    display: inline-block;
    height: 30px;
    margin-top: 15px;
    margin-left: -90px;
}

#logoName {
    font-family: Satisfy, cursive;
    font-size: 30px;
    cursor: hand;   
}

#homepageLink {
    cursor: hand;
}

#linksContainer {
    height: 45px;
    position: absolute;
    right: 0px;
}

#navigation {
    background-color:white;
    border:0px;
    margin: 0px;

    list-style-type: none;
    text-align: right;
    height: 45px;
    background: white;
    margin: 0px;
    font-family: Verdana, Arial, sans-serif;
    padding: 0px;
}

#navigation li{
    display: inline-block;
}

.navLink img {
    padding: 0px 0px 0px 0px;
}

#navigation li span {
    margin-top: 0px;
    margin-right: 5px;
}

#navigation .navLink {
    vertical-align: bottom;
}

#navigation .navLink:hover {
    background-color: #efefff;
}

.selected {
    background-color: #efefff;
}

/*#userPicture{
    display: inline-block;
    width: 50%;
    height: 45px;
    background-image: url(/images/default_avatar.gif);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}*/

.profilePicture {
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 2px #616161 inset;
    background-size: cover;
    float: left;
    height: 30px;
    margin: -1px;
    width: 30px;
}

.menuIcon {
    border-radius: 3px;
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    color: #888888;
    font-size: 13px;
    margin-top: 4px;  
    height: 31px;
    width: 30px;
    margin-left: -10px;
    margin-right: 5px;   
    cursor: pointer;
}

.profileName {
    padding-right: 9px;
}

.usernameLink {
    color: #888888;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.usernameLink .profileName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 24px;
    padding: 6px 0 1px 10px;
}

.UserMenu {
    border-radius: 3px;
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    color: #888888;
    font-size: 13px;
    margin-top: 4px;
}

.usernameLink:hover {
    background-color: #efefff;
}

#notificationDiv {
    position: relative;
}

#notificationDiv:hover{
    cursor: hand;
}

#notificationWindow {
    display: none;
    margin-top: 12px;
    position: absolute;
    right: 0px;
    width: 430px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #BEBDBD;
    background: white;
    font-size: 12px;
    text-align: left;
}

#notificationWindow a {
    color: #00008F;
    font-weight: bold;
}

