root { 
    display: block;
}

li a {
    text-decoration: none;
    color: black;
}

#header {
    background-color: white;
/*    width: 100%;*/
    height: 45px;
    border-top: 1px solid white;
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px 15px red;
    text-align: center;
}

#logoContainer {
    display: inline-block;
    height: 45px;
}

#logo{
    display: inline-block;
    height: 45px;
    background-image: url(/images/gift.jpg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}

#logoContainer #name {
    font-family: Satisfy, cursive;
    font-size: 40px;
    float: right;
    height: 45px;
    background-color: white;
}

#linksContainer {
    height: 45px;
    float: right;
}

#linkList{
    width: 100%;
    height: 45px;
    border: 0;
    padding: 0;
    background-color: white;
    vertical-align: -15px;
}

#navigation {
    background-color:white;
    border:0px;
    margin: 0px;

    list-style-type: none;
    text-align: right;
    height: 45px;
    background: white;
    margin: 0px;
    font-family: Verdana, Arial, sans-serif;
    padding: 0px;
}

#navigation li{
    display: inline-block;
}

.navLink img {
    padding: 0px 0px 0px 0px;
}

#navigation li a {
    /*display: block;*/
    height: 35px;
    padding-top: 20px;
    padding-right: 5px;
    text-decoration: none;
    color: black;
}

#navigation li span {
    margin-top: 0px;
}

#navigation .navLink {
    vertical-align: bottom;
}

#navigation .navLink:hover {
    background-color: #efefff;
}

.selected {
    background-color: #efefff;
}

#userPicture{
    display: inline-block;
    width: 50%;
    height: 45px;
    background-image: url(/images/default_avatar.gif);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}

.tinyProfile {
/*    display: block;*/
    width: 30px;
    height: 75%;
}

#dropDownMenu{
  float: right;
  display: none;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

#dropDownMenu ul{
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    width: 80px;
}

#dropDownMenu ul li {
    padding: 10px 0px 5px 0px;
}

#dropDownMenu ul li :hover{
    font-weight: bolder;
    text-decoration: underline;
}