/* 
    Document   : navBar
    Created on : Dec 23, 2011, 1:58:41 PM
    Author     : Danny
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#logoContainer {
    display: inline-block;
    width: 55%;
    background-color: white;
    height: 45px;
    float: left;
}

#logo{
    display: inline-block;
    width: 80%;
    height: 45px;
    background-image: url(/images/gift.jpg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}

#name {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    float: right;
    height: 45px;
    background-color: white;
}

#linksContainer {
    display: inline-block;
    width: 45%;
    background-color: white;
    height: 45px;
}

#profileLinks{
    height: 45px;
    width: 30%;
    float: right;
}

#linkList{
    width: 100%;
    height: 45px;
    border: 0;
    padding: 0;
    background-color: white;
    vertical-align: -15px;
}

#mainProfileLink {
    height: 45px;
    background-color:white;
    border:0px;
}

ul{
    background-color: white;
    font-family: Verdana, Arial, sans-serif; font-size: 1.1em;
    color: #ffffff;
    list-style: none;
    padding: 0;
}

li{
    background-color: white;
}

li a {
    text-decoration: none;
    color: black;
}

#userName {
    display: inline-block;
    width: 50%;
    height: 45px;
    vertical-align: bottom;
    background-color: white;
}

#userName a{
    vertical-align: bottom;
    padding: 0px;
    text-align: right;
    height: 45px;
    text-decoration:none;
    zoom: 1;
    line-height: 3.0;
}

#userPicture{
    display: inline-block;
    width: 50%;
    height: 45px;
    background-image: url(/images/gift.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}
