.mockup {
/*    border-style: solid;
    border-width: 1px;*/
    border-width: 5px;
    border-style: solid;
}

#parent {
    height: 500px;
    width: 500px;
}

#child {
    height: 200px;
    width: 200px;
}