/* 
    Document   : userPage.css
    Created on : Nov 28, 2011, 10:55:58 PM
    Author     : Danny
    Description:
        Purpose of the stylesheet follows.
*/

body {
    direction: ltr;
    background: #f9eadc;
}

p {
    margin: 0px;
    font-family: Verdana;
}

h1 {
    font-family: 'Satisfy', cursive;
}

#div_user_container {
    display: inline-block;
}

#div_profile_pic {
    float: left;
    max-width: 150px;
    overflow: hidden;
}

#div_profile_pic img {
    max-width: 150px;
}

#div_left_panel {
    display: inline-block;
    float: left;
    height: 200px;
    margin-right: 60px;
}

#div_right_panel {
    display: inline-block;
    width: 50%;
}