/* 
    Document   : wishlist.css
    Created on : Dec 8, 2011, 10:50:26 PM
    Author     : Danny
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.spacer {
    width: 2%;
    height: 100%;
    display: inline-block;
    float: left;
}

#div_wishlist_div {
    display: inline-block;
}

#newWishBox {
  color: pink;
}

.newWishBox {
  height: 100px;
}

span.purchaseBtn {
    border-style: solid;
    border-width: 1px;
    cursor: hand;
}

#confirmEventContainer {
    border-style: solid;
    border-width: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 1em;
    max-height: 3em;
}

div.confirmEvent:hover {
    background-color: #efefef;
    cursor: hand;
}

#confirmBtn:hover {
    cursor: hand;
}

h3.purchased {
    background: #333 url(black-tie/images/ui-bg_diagonals-thick_8_333333_40x40.png) 50% 50% repeat;
}

