/* 
    Document   : wishlist.css
    Created on : Dec 8, 2011, 10:50:26 PM
    Author     : Danny
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#div_wishlist_div {
    display: inline-block;
}

#newWishLink {
  color: pink;
}

.newWishBox {
  height: 100px;
}