/* 
    Document   : wishlist.css
    Created on : Dec 8, 2011, 10:50:26 PM
    Author     : Danny
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.itemName {
    font-size: 20px;
    font-weight: bolder;
}

.WishlistItemBody{
    font-size: 12px;
    text-align: center;
}

.WishlistItemBody p {
    margin-left: 5px;
}

.WishlistItemBody label{
    font-weight: bold;
}

.WishlistItemBody div{
    width: 100%;
    background-color: gray;
}

#div_wishlist_div {
    display: inline-block;
    font-size: 12px;
}

#newWishBox {
    color: pink;
}

#submitNewWish {
    width:80px;
    margin-left: 45%;    
}

.newWishBox {
    height: 100px;
}

.purchaseBtn {
    cursor: hand;
    height: 25px;
    margin-top: 20px;
}

#confirmEventContainer {
    border-style: solid;
    border-width: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 1em;
    max-height: 3em;
}

div.confirmEvent:hover {
    background-color: #efefef;
    cursor: hand;
}

#confirmBtn:hover {
    cursor: hand;
}

h3.purchased {
    background: #333 url(black-tie/images/ui-bg_diagonals-thick_8_333333_40x40.png) 50% 50% repeat;
}

